<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:replace="common/config :: configFragment"></th:block>

</head>
<body>
    <!-- header -->
    <th:block th:replace="common/header :: headerFragment"></th:block>

    <div class="section_wrapper">
        <!-- sidebar -->
        <th:block th:replace="common/sidebar :: sidebarFragment"></th:block>

        <section class="section_board">
            <article>
                <h2>게시판</h2>
                <button class="btn btn-primary float-end"
                        th:onclick="|location.href='@{/boards/write}'|"
                        onclick="location.href='write.html'" >글 쓰기
                </button>
                <table class="table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성시간</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="board : ${boardList}" >
                        <td><span th:text="${board.id}"></span></td>
<!--                        th:href="@{/order/{orderId}/details(orderId=${o.id})}"-->
                        <td><a th:href="@{/boards/{id}(id=${board.id})}"><span th:text="${board.title}" ></span></a> </td>
                        <td><span th:text="${board.writer}"></span></td>
                        <td><span th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></span></td>
<!--                        <td><span th:text="${board.createDate}"></span></td>-->
                        <td><span th:text="${board.hit}"></span></td>
                    </tr>

                    <!-- <tr class="record" onclick="location.href='view.html'" th:onclick="|location.href='@{/board/view}'|">
                        <td>1</td>
                        <td>글제목1</td>
                        <td>글쓴이1</td>
                        <td>시간</td>
                        <td>1</td>
                    </tr> -->

                    </tbody>
                </table>
            </article>
            <article>
                <!-- 검색 form -->
                <form action="/boards/search" method="GET">
                    <div class="ml-2">
                        <input class="float-left" name="keyword" type="text" placeholder="검색어를 입력해주세요">
                        <button class="btn btn-primary float-left">검색하기</button>
                    </div>
                </form>
            </article>
        </section>
    </div>

    <!-- footer -->
    <th:block th:replace="common/footer :: footerFragment"></th:block>

</body>
</html>